<!DOCTYPE>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Maps</title>
  <script defer src="/js/maps_init.js"></script>
  <script defer
          src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=initMap"
  ></script>

  <form action="/select" method="post" enctype="multipart/form-data" style="margin-bottom: 0;">

    <input type="file" th:name="file">

    <select id="select1" name="selectDate">
      <option value="20220813">8월 13일</option>
      <option value="20220814">8월 14일</option>
      <option value="20220815">8월 15일</option>
      <option value="20220816">8월 16일</option>
      <option value="20220817">8월 17일</option>
    </select>

    <select id="select2" name="selectHour">
      <option value="9">09시</option>
      <option value="10">10시</option>
      <option value="11">11시</option>
      <option value="12">12시</option>
      <option value="13">13시</option>
      <option value="14">14시</option>
      <option value="15">15시</option>
      <option value="16">16시</option>
      <option value="17">17시</option>
      <option value="18">18시</option>
    </select>

    <select id="select3" name="selectMinute">
      <option value="00">00분</option>
      <option value="10">10분</option>
      <option value="20">20분</option>
      <option value="30">30분</option>
      <option value="40">40분</option>
      <option value="50">50분</option>
    </select>

    <button type="submit">검색</button>
  </form>
</head>
<body>
<div id="map2" style="height: 98%;"></div>
</body>
</html>
