<!DOCTYPE>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Maps</title>
  <script>
    var A_temp = [[${excelDtoList[0].getTemp()}]];
    var B_temp = [[${excelDtoList[1].getTemp()}]];
    var C_temp = [[${excelDtoList[2].getTemp()}]];
    var D_temp = [[${excelDtoList[3].getTemp()}]];
    var A_wind = [[${excelDtoList[0].getWind()}]];
    var B_wind = [[${excelDtoList[1].getWind()}]];
    var C_wind = [[${excelDtoList[2].getWind()}]];
    var D_wind = [[${excelDtoList[3].getWind()}]];
    var A_humidity = [[${excelDtoList[0].getHumidity()}]];
    var B_humidity = [[${excelDtoList[1].getHumidity()}]];
    var C_humidity = [[${excelDtoList[2].getHumidity()}]];
    var D_humidity = [[${excelDtoList[3].getHumidity()}]];
    var A_rain = "[[${excelDtoList[0].getRain()}]]";
    var B_rain = "[[${excelDtoList[1].getRain()}]]";
    var C_rain = "[[${excelDtoList[2].getRain()}]]";
    var D_rain = "[[${excelDtoList[3].getRain()}]]";
    var select1 = [[${excelDtoList[0].getDate()}]];
    var select2 = "[[${excelDtoList[0].getSelectHour()}]]";
    var select3 = "[[${excelDtoList[0].getSelectMinute()}]]";
  </script>
  <script defer src="/js/maps_data.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <script defer
          src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=initMap"
  ></script>

  <form action="/select" method="post" enctype="multipart/form-data" style="margin-bottom: 0;">

    <input type="file" th:name="file">

    <select id="select1" name="selectDate">
      <option value="20220813">8월 13일</option>
      <option value="20220814">8월 14일</option>
      <option value="20220815">8월 15일</option>
      <option value="20220816">8월 16일</option>
      <option value="20220817">8월 17일</option>
    </select>

    <select id="select2" name="selectHour">
      <option value="9">09시</option>
      <option value="10">10시</option>
      <option value="11">11시</option>
      <option value="12">12시</option>
      <option value="13">13시</option>
      <option value="14">14시</option>
      <option value="15">15시</option>
      <option value="16">16시</option>
      <option value="17">17시</option>
      <option value="18">18시</option>
    </select>

    <select id="select3" name="selectMinute">
      <option value="00">00분</option>
      <option value="10">10분</option>
      <option value="20">20분</option>
      <option value="30">30분</option>
      <option value="40">40분</option>
      <option value="50">50분</option>
    </select>

    <button type="submit">검색</button>
  </form>
</head>
<body>
<div id="map" style="height: 98%;"></div>
</body>
</html>
